@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Alata&display=swap');

:root {
    --bg-color--darker: #1F1F1F;
    --bg-color--dark: #2F2E2E;
    --bg-color--light: #E9E9E9;

    --text-color--dark: rgb(30, 30, 30);
    --text-color--light: #E9E9E9;

    --tokyo-color-1: #150a3e;
    --tokyo-color-2: #443184;
    --tokyo-color-3: #5535be;
    --tokyo-color-4: #60b0d8;
    --tokyo-color-5: #09fbd3;
    --tokyo-color-6: #d45eff;
    --tokyo-color-7: #e7fa12;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.contenedor {
    padding-left: 8%;
    padding-right: 8%;
}

.text-light{
    color: var(--bg-color--light);
}


.text-regular-Alata{
    font-family: 'Alata', sans-serif;
}

.text-regular-Aclonica{
    font-family: 'Aclonica', sans-serif;}